*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border:0;
  font-family: "Microsoft YaHei";
}

html,body{
  height:100%;
}
.img-responsive{
  max-width:100%;
  height:auto;
}
.mouse-pointer{
  cursor: pointer;
}
.text-right{
  color: green;
}
.text-warning{
  color: orange;
}
.text-wrong{
  color: red;
}
.step{
  width:100%;
  height:100%;
}
.fallback-message{
  display: none;
}
.impress-not-supported{
  .fallback-message{
    display:block;
    display:block;
  }
}
.logo{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 666px;
  margin-top: -310px;
  margin-left: -333px;
}
.step1{
  width:100%;
  height:100%;
  background: url("../images/bg1.png") center center no-repeat;
  .bottom{
    position: absolute;
    top:50%;
    left: 50%;
    width:500px;
    margin-top:300px;
    margin-left:-250px;
  }
  a{
    display: block;
  }
}
.videos{
  position: absolute;
  top:50%;
  left: 50%;
  width: 1170px;
  margin-left:-585px;
  .item{
    width:390px;
    float: left;
    padding:0 2%;
    position: relative;
    .play{
      position: absolute;
      top:50%;
      left: 50%;
      width:120px;
      height:120px;
      margin-top:-60px;
      margin-left:-60px;
    }
    video{
      width:100%;
    }
  }
}

.step2{
  width:100%;
  height:100%;
  background: url("../images/bg2.png") center center no-repeat;
  .bottom{
    position: absolute;
    top:50%;
    left: 50%;
    width:500px;
    margin-top:300px;
    margin-left:-250px;
  }
}

.play-detail{
  position: absolute;
  top:50%;
  left:50%;
  margin-left:-450px;
  margin-top: -250px;
  video{
    width:900px;
    z-index: 10;
  }
  .handle{
    position: absolute;
    bottom: 50px;
    width:100%;
    padding:0 30px;
    z-index:100;
    .view{
      float: left;
    }
    .begin{
      float: right;
    }
  }
}

.result{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 420px;
  height:420px;
  margin-top: -360px;
  margin-left: -210px;
  background: url("../images/badge.png") top center no-repeat;
  text-align: center;
  padding: 50px;
  .score{
    margin-top: 60px;
    font-size: 72px;
  }
  p{
    font-size: 48px;
  }
}
.detail{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1200px;
  height: 300px;
  margin-top: -20px;
  margin-left: -600px;
  .title{
    font-size: 36px;
    margin-bottom: 10px;
    position: relative;
    .return{
      position: absolute;
      top: -10px;
      right: 0;
    }
  }
  .text{
    padding: 20px 180px 20px 20px;
    font-size: 36px;
    min-height: 200px;
    max-height: 300px;
    overflow: auto;
    &.right{
      background: #fff url("../images/right.png") bottom right no-repeat;
    }
    &.error{
      background: #fff url("../images/error.png") bottom right no-repeat;
    }
  }
}
.task{
  .video-box{
    position: absolute;
    top:50%;
    left:50%;
    width:700px;
    margin-top:-360px;
    margin-left:-350px;
    .handle{
      position: absolute;
      bottom: 50px;
      width: 100%;
      text-align: right;
      z-index: 100;
      padding: 0 20px;
    }
    .restart{
      margin-top: 10px;
    }
    .num{
      position: absolute;
      top: 50%;
      width: 100%;
      margin-top: -40px;;
      text-align: center;
      z-index: 100;
      font-size: 80px;
      color: #fff;
      text-shadow: 0 0 15px #000;
    }
  }
  video{
    width:700px;
    z-index: 10;
  }
  .text{
    position: absolute;
    top:50%;
    left:50%;
    width:1100px;
    margin-top:40px;
    margin-left:-550px;
    padding:20px 80px;
    background: #fff;
    font-size: 32px;
    max-height: 300px;
    overflow: auto;
  }
}