@charset "utf-8";
/* CSS Document */

.jedatebox{width:268px;height:auto; border:1px #78BA32 solid;position: absolute;background-color:#fff;font-family:'microsoft yahei',Verdana,"\u5fae\u8f6f\u96c5\u9ed1","\5b8b\4f53",Arial;font-size:14px; display:none; cursor:default;}
.jedatebox.dateshow{display:block;}
.jedatebox .jedatetop{cursor:pointer;width:100%;background: #78BA32; color:#fff; overflow:hidden;text-align:center;font-family:'\5B8B\4F53';}
.jedatebox .jedateym{float:left;height:40px; line-height:40px;}
.jedateym span{width:70%;padding: 0;float:left;text-align: center;text-overflow: ellipsis; display:block;}
.jedateym span input{width:100%;float:left;padding: 0;border:none;background-color:transparent;text-align: center;}
.jedateym .prev,.jedateym .next{width:15%;height:40px; line-height:45px;float:left;display:block;text-align: center;}
.jedateym .prev:before{width: 0;height: 0; display:inline-block;border-width: 7px; border-style: dashed;border-color: transparent;overflow: hidden;border-right-style:solid; border-right-color:#fff;content: "";margin: 0 9px 0 0;}
.jedateym .next:before{width: 0;height: 0; display:inline-block;border-width: 7px; border-style: dashed;border-color: transparent;overflow: hidden;border-left-style:solid; border-left-color:#fff;content: "";margin: 0 0 0 6px;}
.jedateym .pndrop{width:14px;height:14px; overflow:hidden;display: inline-block;position:relative;vertical-align: middle;}
.jedateym .pndrop:before{width: 0;height: 0; display:inline-block;border-width:5px; border-style: dashed;border-color: transparent;overflow: hidden;border-top-style:solid; border-top-color:#fff;content: ""; position:absolute; top:4px; left:2px;}

.jedatesety,.jedatesetm{width: 100%; position:absolute;left:0; top:40px; bottom:0;background-color: #fff; z-index:50;}
.jedatesety .ymdropul,.jedatesetm .ymdropul{width:100%;height:210px;overflow:auto;}
.jedatesety .ymdropul li{width:33.3%;float:left;text-align: center;height:40px; line-height:40px;}
.jedatesetm .ymdropul li{width:33.3%;float:left;text-align: center;height:50px; line-height:50px;}
.jedatesety .ymdropul li.action,.jedatesetm .ymdropul li.action{background: #78BA32;color:#fff;}
.jedatetopym p{overflow:auto; padding-top:4px;}
.jedatetopym p span{width:31%; margin:0 1.1%;background-color: #78BA32;color: #fff;display: block;height:28px;line-height:28px; border-radius:5px;text-align:center;font-family:'\5B8B\4F53';}
.jedatetopym p span.jedateymchri{background-color: #ECF4FB;color: #1F547E;float:left;font-size: 16px;}
.jedatetopym p span.jedateymchle{background-color: #ECF4FB;color: #1F547E;float:left;font-size: 16px;}
.jedatetopym p span.jedateymchok{background-color: #78BA32;color:#fff;float:right;font-size: 12px;}

.jedatebox .jedaym{height:202px;overflow:auto; padding:5px;}
.jedatebox .jedaym li{width:50%;float:left;text-align: center;height:32px; line-height:32px;}
.jedatebox .jedaym li.action{background: #78BA32;color:#fff;}
.jedatebox .jedaol{width:100%;overflow:auto;list-style: none;}
.jedatebox .jedaul{ padding:0 4px;overflow:auto;cursor: pointer;}
.jedatebox .jedaol li,.jedatebox .jedaul li{width:14.28%; float:left; height:30px; line-height:30px; text-align:center; position:relative; overflow:hidden;}
.jedatebox .jedaul li{width:14.28%;float:left;}
.jedatebox .jedaul li:hover{background:#eee;}
.jedatebox .jedaol li.weeks{background:#f5f5f5;border-bottom: 1px solid #ddd;}
.jedatebox .jedaul li.action{background: #78BA32;color:#fff;}
.jedatebox .jedaul li.prevdate,.jedatebox .jedaul li.nextdate{color:#CAE8AA;}
.jedatebox .jedaul li.disabled{ color:#bbb;}
.jedatebox .jedaul li:nth-child(7n){border-right:none;}
.jedatebox .jedaul li .marks{ width:5px; height:5px; background:#ff0000; -webkit-border-radius:50%;border-radius:50%; position:absolute; right:2px; top:4px;}
.jedatebox .jedaul li.action .marks{ width:5px; height:5px; background:#fff; -webkit-border-radius:50%;border-radius:50%; position:absolute; right:2px; top:4px;}

.jedatebot{height:34px;line-height:34px; padding:0 3px 0 5px;overflow:hidden; background:#f5f5f5;}
.jedatebot .botflex{width:50%;float:left;display:block;margin:0;padding-top:3px; overflow:hidden;}
.jedatebot .botflex li{width:33.33%; float:left;text-align:center;}
.jedatebot .botflex li em{width:70%;float:left;padding: 0;border:none;border:1px #ddd solid;background-color: #fff;text-align: center;display:block;height:28px;line-height:28px;cursor:pointer;}
.jedatebot .botflex li i{width:30%;float:left;height:28px;line-height:26px;font-style:normal;display:block;text-align: center;}
.jedatebot .jedatebtn{text-align:center;font-size: 12px;font-family:'\5B8B\4F53';}
.jedatebot .jedatebtn span{cursor:pointer;float:left; margin:0 1.1%;background-color: #78BA32;color: #fff;display: block;height:28px;line-height:28px; border-radius:5px;text-align:center;}
.jedateh,.jedatems{width: 100%; position:absolute;left:0; bottom:40px;background-color: #fff;border-top: 1px solid #ccc;}
.jedatehmstitle{width:100%;height:35px;line-height:35px;background: #f5f5f5; color:#000;position: relative; overflow:hidden;text-align:center;font-size: 15px;}
.jedateh p{width:20%;float:left;text-align: center;height:32px; line-height:32px;cursor: pointer}
.jedateh p:hover{background:#eee;}
.jedatems p{width:10%;float:left;text-align: center;height:32px; line-height:32px;cursor: pointer;}
.jedatems p:hover{background:#eee;}
.jedateh p.action,.jedatems p.action{background: #78BA32;color:#fff;}
.jedatehmsclose{width:30px; height:30px; line-height:26px; text-align:center;position: absolute;top:50%;right:4px; margin-top:-15px;z-index:150;font-size:24px;cursor: pointer;}
