<!DOCTYPE html>
<html lang="zh-cn" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>优学</title>
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
<div class="step" ng-view></div>

<script type="text/ng-template" id="tpl-front.html">
  <div class="step1" data-x="0" data-y="0">
    <div class="logo">
      <img class="img-responsive" src="images/logo.png" alt="">
    </div>
    <div class="videos">
      <div class="item">
        <a href="#/detail/video_c">
          <div class="play">
            <img src="images/play.png" alt="" class="img-responsive">
          </div>
          <img class="img-responsive" src="images/video_c.png"/>
        </a>
      </div>
      <div class="item">
        <a href="#/detail/video_f">
          <div class="play">
            <img src="images/play.png" alt="" class="img-responsive">
          </div>
          <img class="img-responsive" src="images/video_f.png"/>
        </a>
      </div>
      <div class="item">
        <a href="#/detail/video_t">
          <div class="play">
            <img src="images/play.png" alt="" class="img-responsive">
          </div>
          <img class="img-responsive" src="images/video_t.png" />
        </a>
      </div>
    </div>
    <div class="bottom">
      <img src="images/bottom1.png" alt="" class="img-responsive">
    </div>
  </div>
</script>

<script type="text/ng-template" id="tpl-detail.html">
  <div class="step2">
    <div class="play-detail">
      <div class="handle">
        <div class="view mouse-pointer" ng-click="play()" ng-show="!video.isPlaying">
          <img src="images/view.png" alt="" class="img-responsive">
        </div>
        <a class="begin mouse-pointer" ng-href="#/result/{{params.video}}" ng-show="!video.isPlaying">
          <img src="images/begin.png" alt="" class="img-responsive">
        </a>
      </div>
      <video id="video_play" ng-src="{{videoUrl}}" ng-click="stop()"></video>
    </div>
  </div>
</script>

<script type="text/ng-template" id="tpl-result.html">
  <div class="step2" ng-show="!video.end">
    <div class="task">
      <div class="video-box">
        <div class="handle" ng-show="video.isPlaying">
          <div>
            <img src="images/mic.png" alt="" class="img-responsive">
          </div>
          <a href="" ng-click="stop()">
            <img src="images/end.png" alt="" class="img-responsive">
          </a>
          <div class="restart mouse-pointer" onclick="location.reload()">
            <img src="images/restart.png" alt="" class="img-responsive">
          </div>
        </div>
        <div class="num" ng-show="!video.isPlaying && !video.end" ng-bind="times"></div>
        <video id="videoPlay" ng-src="{{videoUrl}}"></video>
      </div>
      <div class="text">
        <p ng-repeat="l in video.lines track by $index"><span class="text-right" ng-bind="l.who"></span><span ng-bind="l.text"></span></p>
      </div>
    </div>
  </div>
  <div class="step2 ng-hide" ng-show="video.end">
    <div class="result success" ng-class="score>=60?'text-right':'text-wrong'">
      <div class="score">
        <span ng-bind="score||0"></span>分
      </div>
      <p>过关<span ng-bind="score>=60?'成功':'失败'"></span></p>
    </div>
    <div class="detail">
      <div class="title">
        <div class="title-img">
          <img src="images/title.png" alt="">
          <a class="return" href="#/">
            <img src="images/return.png" alt="">
          </a>
        </div>
      </div>
      <div class="text" ng-class="score>=60?'right':'error'">
        <p>
          <span ng-class="{'text-wrong':w.score<5,'text-warning':w.score>=5&&w.score<8,'text-right':w.score>=8}" ng-repeat="w in wordList track by $index" ng-bind="w.text"></span>
        </p>
      </div>
    </div>
  </div>
</script>

<audio id="audio"></audio>
<div id="recordFlash"></div>

<script src="libs/js/jquery.min.js"></script>
<script src="libs/js/angular.min.js"></script>
<script src="libs/jsSDK/uns-oraleval-js-sdk.js"></script>
<script src="js/app.js"></script>
</body>
</html>