<div class="step step1" data-x="0" data-y="0">
  <div class="logo">
    <img class="img-responsive" src="images/logo.png" alt="">
  </div>
  <div class="videos">
    <div class="item">
      <video poster="images/c.png">
        <source src="videos/c.mp4" type="video/mp4">
      </video>
    </div>
    <div class="item">
      <video poster="images/f.png">
        <source src="videos/f.mp4" type="video/mp4">
      </video>
    </div>
    <div class="item">
      <video poster="images/t.png">
        <source src="videos/t.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="bottom">
    <img src="images/bottom1.png" alt="" class="img-responsive">
  </div>
</div>