<div class="step2">
  <div class="result success">
    <div class="score">
      <span ng-bind="score"></span>分
    </div>
    <p>过关失败</p>
  </div>
  <div class="detail">
    <div class="title">
      <div class="title-img">
        <img src="images/title.png" alt="">
        <a class="return" href="javascript:history.go(-1)">
          <img src="images/return.png" alt="">
        </a>
      </div>
    </div>
    <div class="text error">
      <p>
        <span ng-class="{'text-right':w.score<5,'text-error':w.score>=5&&w.score<8,'text-success':w.score>=8}" ng-repeat="w in wordList track by $index" ng-bind="w.text"></span>
      </p>
    </div>
  </div>
</div>